---
date: Last Modified
---
<!DOCTYPE html>
<html lang="<%= page.lang %>">
<head>
<%
site[page.lang] = site[page.lang] || {};
lang[page.lang] = lang[page.lang] || {};
var pageDescription = locals.description || site[page.lang].description;
%>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title><%= locals.title %></title>
<meta name="description" content="<%= pageDescription %>" />
<%- include('/altlang') %>
<link rel="stylesheet" href="/assets/main.css?<%- cacheBust.mainCss %>" />
<link rel="icon" type="image/png" href="/images/logo.png" />

</head>
<body>

<div class="page-layout">
  <%- include('/header') %>
  <main class="main">
    <%- content -%>
  </main>
  <%- include('/footer') %>
</div>

<script src="/assets/main.js?<%- cacheBust.mainJs %>"></script>
</body>
</html>
